*{
    margin: 0;
    padding: 0;
}

.product img
{
    width: 120px;
    height: 120px;
}

.products .product
{
    display: flex;
    width: 400px;
    padding: 15px;
    margin: 5px 0;
    align-items: center;
    background: white;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}

.product-pullover
{
    width: 250px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.Danjo{
    margin-bottom: 10%;
}

#emptyCart a{
    font-size: 25px;
    text-decoration: none;
    color: pink; 
}
#emptyCart a:visited {
    color: pink; 
   }
#emptyCart a:active {
    color: lightskyblue; 
   }

.products .product h4
{
    font-weight: lighter;
    margin-bottom: 10px;
}

.trash-box
{
    width: 40px;
    height: 40px;
    transition: 0.3s;
    margin-left: 170px;
    margin-top: 50px;
    border-radius: 50%;
}

.trash-box:hover 
{
    cursor: pointer;
    background: rgb(223, 223, 223);
    transition: 0.3s;
}

.trash-box 
{
    background: none;
    border: none;
    transform: translateX(50px);
}

.total
{
    width: 100px;
    height: 60px;
}

.basketTotal
{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.total
{
    margin-top: 30px;
}

#buyButton
{
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    font-size: 20px;
    transform: translateX(-50px);
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    transition: 0.3s;
}

#buyButton:hover
{
    background: rgb(87, 87, 87);
    transition: 0.3s;
}

#emptyCart 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#emptyCart p 
{
    font-size: 50px;
}

@media (max-width: 700px)
{
    .products .product
    {
        width: 400px;
    }
    .total
    {
        transform: translateX(0px);
    }
    .trash-box
    {
        transform: translateX(50px);
    }
}

@media (max-width: 500px)
{
    .products .product
    {
        width: 350px;
    }
    .trash-box
    {
        margin-top: 50px;
    }
}

@media (max-width: 400px)
{
    .products .product
    {
        width: 300px;
    }
}